@{
    ViewBag.Title = "Password Alterada";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        A sua password foi alterada. Por favor faça @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) de novo.
    </p>
</div>
