@{
    ViewBag.Title = "Acerca deste projeto";
}
<h2>@ViewBag.Title.</h2>

<h3>Segunda iteração do projeto de ARQSI</h3>
<p>Esta é a segunda iteração do projeto da unidade curricular de ARQSI. Consiste num website que simula uma plataforma de anúncios de imóveis.</p>
