@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Conta Bloqueada";
}

<hgroup>
    <h1 class="text-danger">Conta Bloqueada!</h1>
    <h2 class="text-danger">Esta conta encontra-se bloqueada por excesso de tentativas de login.</h2>
</hgroup>
